*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#cabecera{
   display: flex;
   justify-content: space-around;
}

#subcabecera{
    height: 60%;
    width: 40%;
}

.logo{
    height: 60px;
}

#buscar{
    height: 40%;
    width: 40%;
    display: flex;
    justify-content: space-around;
}

#fondo{
    height: 100px;
    background-color: #2c204b;
}


.ul{
    display: flex;
    justify-content: space-around;
}

#megaMenu > ul > li >a{
    width: 85vw;
    background: #D75229;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    height: 60vh;
    box-sizing: border-box;
}

#megaMenuBtn,.ul button{
    padding: 10px;
    background-color: transparent;
    color: aliceblue;
    border: none;

}
#megaMenuBtn:hover{
    background-color: orangered;
}

.ul li button {
    color: aliceblue;
}

.ul a :hover {
background-color: orangered;
}

.ul a {
    color: aliceblue;
}

.centralcontacto{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

#contacto1{
    width: 60%;
}

#contacto2{
    width: 30%;
}
#contacto2 > ul > a > img{
    width: 300px;
}

#contaco1-5{

    display: flex;
    justify-content: space-around;
}

.tacto{
    height: 500px;
    
}